{%extends "base.html" %}

{%block title%}Podcasts: NPR{%endblock%}

{%block order_btn%}
  <div class="col-auto small px-1">
    <span>Order by: </span>
    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
      <a href="{%url 'npr:index_by_order' 'by_name'%}" type="button" class="btn btn-link">Name</a>
      <a href="{%url 'npr:index_by_order' 'by_date'%}" type="button" class="btn btn-link">Date</a>
    </div>
  </div>
{%endblock%}

{%block content%}

<div class="podcast-list row row-cols-2 row-cols-md-4 row-cols-lg-5">
    {%for pod in podcast%}
      <div class="card border-0 col">
        <img src="{{pod.img}}" alt="{{pod.title}}" class="img-thumbnail">
        <div class="card-body px-2 py-1">
          <h6 class="text-muted small mb-0">{{pod.category}}</h6>
          {%if order == 'by_date'%}
          <h6 class="text-muted small py-1 mb-0">{{pod.latest_episode}}</h6>
          {% endif %}
          <a href="{%url 'npr:podcast' pod.slug %}">
            <h6 class="card-title text-body">{{pod.title}}</h6>
          </a>
          
        </div>
      </div>
    {%endfor%}
  
</div>

{%endblock%}
