{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%block title%}{%endblock%}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="navbar">
        <div class="col-5 col-sm-2 my-2">
            <img src="https://media.npr.org/chrome_svg/npr-logo.svg" alt="NPR logo">
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="https://www.npr.org/sections/news/">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.npr.org/music/">Music</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'npr:index'%}">Podcasts</a>
            </li>
          </ul>
        </div>
        <!-- search bar -->
        <form class="col-10 col-sm-6 input-group input-group-sm" action="{% url 'npr:search'%}" method="post" >
          {%csrf_token%}
          <input type="text" class="form-control" name="search_content" placeholder="Search podcast or episode" aria-label="Search" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
          </div>
        </form>
    </nav>
    <div class="container">
      {%for t in results%}
        {%for k,v in t.items%}
        <a href="{%url 'abola:render_team' k%}">{{k}}</a>
        {%endfor%}
      {%endfor%}
      {%for i in team_news%}
        <h6>{{i.title}}</h6>
        <p class="small">{{i.time_stamp}}</p>
        <p class="text-body">{{i.body}}</p>
      {%endfor%}
          {%block content%}

          {%endblock%}
          <div class="media fixed-top row justify-content-end">
            <div class="media-content mt-0 col-5">
                <h6 id="player-title" class="d-none d-sm-block my-0 pl-3 small">test</h6>
                <audio src="{%static "abola/123.mp3" %}" id="player" class="px-0" preload controls="controls"></audio>
            </div>
        </div>
    </div>

      
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      {%block script%}
      {%endblock%}
    </body>
</html>